body{
    padding: 0px;
    margin: 0px;
    
}
.b{
    background-color: rgb(248, 230, 233);
}

.view1{
    
    background: purple;
    border-radius: 10px;
   
}
.view2{
    background: blue;
   
    border-radius: 10px;
}
.view3{
    background: green;
   
    border-radius: 10px;
}
.view4{
    background: red;
    
    border-radius: 10px;
}
.box{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.mbutton{
    padding: 10px 28px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition: .75s;
    background: black;
    color: white;
}
.mbutton:hover{
    background: rgb(182, 35, 60);
    color: white;
    
}
.navIcon{
    margin-right: 15px;
}
.profile{
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: lighter;
}
.dot{
    list-style-type: disc;
    padding-left: 1rem !important;
}
@media screen and (max-width: 968px) {
    .c{
        text-align: center;
    }
  }